<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <br>
    <br>
    <h3>Proyecto realizado por: </h3>
    <br>
    <li>Nicolas Martin Cardozo: 
    <p>Profesión: Ingeniero Mecánico - MBA</p>
    <p>Edad: 28 años</p>
    <p>Nacionalidad: Argentino</p>
    <p>Trabajo: FATE - Fábrica Argentina de Neumáticos en el departamento de ing. industrial.</p>
    </li>
    <br>
    <li>Nicolas Damasso</li>
    <br>
    <li>Tomas Monge</li>


    {% endblock %}
</body>
</html>