<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anotarseVolley</title>
</head>
<body>
    <h2>Por favor ingrese los siguientes datos:</h2>

    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        
        <table>

            {{ miFormulario.as_table }}


        </table>

        
        <input type="submit", value="Enviar">

    </form>
    <h3>Id Torneo:</h3>
    <h3>20 - Volley Mixto</h3>
    <p>
        <a href = "{% url 'Volley' %}"> Volver</a>
    </p>
</body>
</html>