<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anotarseFutbol</title>
</head>
<body>

    <h2>Por favor ingrese los siguientes datos:</h2>

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}


        </table>

        
        <input type="submit", value="Enviar">

    </form>
    <h3>Ingrese la fecha con el formato "dd/mm/aaaa"</h3>
    <h3>Id Torneo:</h3>
    <h3>1 - Futbol 5 Masculino</h3>
    <h3>2 - Futbol 7 Masculino</h3>
    <h3>3 - Futbol 11 Masculino</h3>
    <h3>4 - Futbol 5 Femenino</h3>
    <h3>5 - Futbol 7 Femenino</h3>
    <h3>6 - Futbol 11 Femenino</h3>
    <p>
        <a href = "{% url 'Futbol' %}"> Volver</a>
    </p>
</body>
</html>