<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>futbol_detalle</title>
</head>
<body>
    <p>Nombre del equipo: <i>{{futbol.nombre_equipo}}</i></p>
    <p>Integrantes del equipo: <i>{{futbol.integrantes}}</i></p>
    <p>Fecha de registro en torneo: <i>{{futbol.fecha_de_registro}}</i></p>
    <p>
        <a href = "{% url 'List' %}"> Regresar</a>
    </p>
</body>
</html>