<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenis</title>
</head>
<body>
    {% extends "AppFinal/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/media/avatares/ladrillo.jpg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Canchas de Tenis</h2>
                    <p class="lead mb-0">Canchas de polvo de ladrillo mantenidas para una experiencia única de juego.</p>
                </div>
            </div>
        </div>
    </section>

    <p>
        <a href = "{% url 'anotarseTenis' %}"> Anotarse Torneo Tenis</a>
    </p>

    <p>
        <a href = "{% url 'busquedaEquipoTenis' %}"> Búsqueda de tenista</a>
    </p>

    <p>
        <a href = "{% url 'List1' %}"> Ver competidores anotados.</a>
    </p>
    
    {% endblock %}
</body>
</html>
    