<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>volley_list</title>
</head>
<body>
    <h1>Equipos:</h1>
    <ul>
        {% for equipo in object_list %}
            <li>
                <p>NOMBRE: {{equipo.nombre_equipo}}</p>
                <p>
                    <a href="{% url 'Detail2' equipo.id %}">Ver</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href = "{% url 'Volley' %}"> Volver</a>
    </p>
</body>
</html>